@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  background: #ff4b4b;
  border-radius: 25px;
  padding: 15px 25px;
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.1666666667;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 0.9838235294rem  +  0.7058823529vw , 1.5rem )) {
  .btn {
    font-size: clamp( 1.125rem , 0.9838235294rem  +  0.7058823529vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9838235294rem  +  0.7058823529vw , 1.5rem )) {
  .btn {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 53.125);
  }
}

.btn:hover {
  -webkit-box-shadow: 2px 5px 10px #497957;
          box-shadow: 2px 5px 10px #497957;
}

.btn_none {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.463);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup__content {
  background: #a6c9ff;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-height: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem )) {
  .popup__content {
    min-height: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem );
  }
}

@supports not (min-height: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem )) {
  .popup__content {
    min-height: calc(18.75rem + 6.25 * (100vw - 20rem) / 53.125);
  }
}

@supports (min-width: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem )) {
  .popup__content {
    min-width: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem );
  }
}

@supports not (min-width: clamp( 18.75rem , 16.3970588235rem  +  11.7647058824vw , 25rem )) {
  .popup__content {
    min-width: calc(18.75rem + 6.25 * (100vw - 20rem) / 53.125);
  }
}

.popup__close {
  position: absolute;
  font-size: 20px;
  line-height: 1.15;
  width: 43px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #497957;
  border-radius: 5px;
  top: 15px;
  right: 15px;
}

.popup__text {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
}

._popup-avtive {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.title {
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

@supports (font-size: clamp( 1.5rem , 1.3588235294rem  +  0.7058823529vw , 1.875rem )) {
  .title {
    font-size: clamp( 1.5rem , 1.3588235294rem  +  0.7058823529vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3588235294rem  +  0.7058823529vw , 1.875rem )) {
  .title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 53.125);
  }
}

.header__container {
  background: #b47ff7;
  position: relative;
}

.header__body {
  min-height: 9.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding-top: 3px;
}

.header__navigation {
  margin-left: 155.63px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
  .header__list {
    gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
  .header__list {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
  }
}

.header__item_none {
  display: none;
}

.header__link {
  font-weight: 700;
  line-height: 1.6071428571;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.7176470588rem  +  1.4117647059vw , 1.75rem )) {
  .header__link {
    font-size: clamp( 1rem , 0.7176470588rem  +  1.4117647059vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.7176470588rem  +  1.4117647059vw , 1.75rem )) {
  .header__link {
    font-size: calc(1rem + 0.75 * (100vw - 20rem) / 53.125);
  }
}

.header__link:hover {
  text-decoration: underline;
}

.header__burger {
  margin-right: 55.63px;
}

._active-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
  background: #a6c9ff;
  border: 1px solid #00ff4a;
  z-index: 10;
  padding: 33px 64.5px;
}

@supports (width: clamp( 16.25rem , 11.7558823529rem  +  22.4705882353vw , 28.1875rem )) {
  ._active-menu {
    width: clamp( 16.25rem , 11.7558823529rem  +  22.4705882353vw , 28.1875rem );
  }
}

@supports not (width: clamp( 16.25rem , 11.7558823529rem  +  22.4705882353vw , 28.1875rem )) {
  ._active-menu {
    width: calc(16.25rem + 11.9375 * (100vw - 20rem) / 53.125);
  }
}

@supports (gap: clamp( 1.25rem , 0.8029411765rem  +  2.2352941176vw , 2.4375rem )) {
  ._active-menu {
    gap: clamp( 1.25rem , 0.8029411765rem  +  2.2352941176vw , 2.4375rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.8029411765rem  +  2.2352941176vw , 2.4375rem )) {
  ._active-menu {
    gap: calc(1.25rem + 1.1875 * (100vw - 20rem) / 53.125);
  }
}

.icon-menu {
  display: block;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.37px;
          flex: 0 0 43.37px;
  height: 24px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 2px);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer__container {
  background: #d87ff7;
}

.footer__list {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 175px;
  padding-right: 20px;
}

.footer__link {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.6071428571;
}

.main__container {
  background: #a6c9ff;
}

.main-page {
  padding-top: 40px;
}

.main-page__slider {
  position: relative;
}

.main-page__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 11rem;
  background: #7029cb;
  padding-bottom: 10px;
}

.main-page__slide > :not(:last-child) {
  margin-right: 32px;
}

.main-page__heading {
  margin-left: 308.92px;
  font-weight: 700;
  line-height: 1.5;
}

@supports (font-size: clamp( 1.875rem , 1.5220588235rem  +  1.7647058824vw , 2.8125rem )) {
  .main-page__heading {
    font-size: clamp( 1.875rem , 1.5220588235rem  +  1.7647058824vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.5220588235rem  +  1.7647058824vw , 2.8125rem )) {
  .main-page__heading {
    font-size: calc(1.875rem + 0.9375 * (100vw - 20rem) / 53.125);
  }
}

.main-page__prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@supports (left: clamp( 0.3125rem , -0.7639705882rem  +  5.3823529412vw , 3.171875rem )) {
  .main-page__prev {
    left: clamp( 0.3125rem , -0.7639705882rem  +  5.3823529412vw , 3.171875rem );
  }
}

@supports not (left: clamp( 0.3125rem , -0.7639705882rem  +  5.3823529412vw , 3.171875rem )) {
  .main-page__prev {
    left: calc(0.3125rem + 2.859375 * (100vw - 20rem) / 53.125);
  }
}

.main-page__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@supports (right: clamp( 0.3125rem , -0.7663235294rem  +  5.3941176471vw , 3.178125rem )) {
  .main-page__next {
    right: clamp( 0.3125rem , -0.7663235294rem  +  5.3941176471vw , 3.178125rem );
  }
}

@supports not (right: clamp( 0.3125rem , -0.7663235294rem  +  5.3941176471vw , 3.178125rem )) {
  .main-page__next {
    right: calc(0.3125rem + 2.865625 * (100vw - 20rem) / 53.125);
  }
}

.main-page__next img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.description1-page__title {
  min-height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}

.description1-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #beb9ff;
  -webkit-column-gap: 1.1111111111%;
     -moz-column-gap: 1.1111111111%;
          column-gap: 1.1111111111%;
  padding-bottom: 5px;
}

@supports (row-gap: clamp( 0.1875rem , -0.0477941176rem  +  1.1764705882vw , 0.8125rem )) {
  .description1-page__body {
    row-gap: clamp( 0.1875rem , -0.0477941176rem  +  1.1764705882vw , 0.8125rem );
  }
}

@supports not (row-gap: clamp( 0.1875rem , -0.0477941176rem  +  1.1764705882vw , 0.8125rem )) {
  .description1-page__body {
    row-gap: calc(0.1875rem + 0.625 * (100vw - 20rem) / 53.125);
  }
}

.description1-page__item {
  background: #3ade4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.1698113208;
}

@supports (min-height: clamp( 5rem , 2.2235294118rem  +  13.8823529412vw , 12.375rem )) {
  .description1-page__item {
    min-height: clamp( 5rem , 2.2235294118rem  +  13.8823529412vw , 12.375rem );
  }
}

@supports not (min-height: clamp( 5rem , 2.2235294118rem  +  13.8823529412vw , 12.375rem )) {
  .description1-page__item {
    min-height: calc(5rem + 7.375 * (100vw - 20rem) / 53.125);
  }
}

@supports (font-size: clamp( 1.875rem , 1.3338235294rem  +  2.7058823529vw , 3.3125rem )) {
  .description1-page__item {
    font-size: clamp( 1.875rem , 1.3338235294rem  +  2.7058823529vw , 3.3125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3338235294rem  +  2.7058823529vw , 3.3125rem )) {
  .description1-page__item {
    font-size: calc(1.875rem + 1.4375 * (100vw - 20rem) / 53.125);
  }
}

.description1-page__item_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.5042735043%;
          flex: 0 1 33.5042735043%;
}

.description1-page__item_2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65.3846153846%;
          flex: 0 1 65.3846153846%;
}

.description1-page__item_3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 85.0427350427%;
          flex: 0 1 85.0427350427%;
}

.description1-page__item_4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.8461538462%;
          flex: 0 1 13.8461538462%;
}

.description2-page__title {
  min-height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}

.description2-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #d4ff5a;
  border-radius: 30px;
  margin: 0 25px;
}

@supports (gap: clamp( 0.25rem , -0.1264705882rem  +  1.8823529412vw , 1.25rem )) {
  .description2-page__body {
    gap: clamp( 0.25rem , -0.1264705882rem  +  1.8823529412vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.25rem , -0.1264705882rem  +  1.8823529412vw , 1.25rem )) {
  .description2-page__body {
    gap: calc(0.25rem + 1 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem )) {
  .description2-page__body {
    padding: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem )) {
  .description2-page__body {
    padding: calc(0.9375rem + 0.625 * (100vw - 20rem) / 53.125);
  }
}

.description2-page__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding-bottom: 18.505%;
}

.description2-page__inner {
  background: #497957;
  border: 2px solid #00ff4a;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@supports (border-radius: clamp( 0.3125rem , -0.3933823529rem  +  3.5294117647vw , 2.1875rem )) {
  .description2-page__inner {
    border-radius: clamp( 0.3125rem , -0.3933823529rem  +  3.5294117647vw , 2.1875rem );
  }
}

@supports not (border-radius: clamp( 0.3125rem , -0.3933823529rem  +  3.5294117647vw , 2.1875rem )) {
  .description2-page__inner {
    border-radius: calc(0.3125rem + 1.875 * (100vw - 20rem) / 53.125);
  }
}

.description2-page__inner:hover {
  -webkit-box-shadow: 2px 5px 10px #497957;
          box-shadow: 2px 5px 10px #497957;
}

.description3-page {
  padding: 40px 0;
}

.description3-page__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.6071428571;
  color: #f3f3f3;
  text-align: center;
}

.description3-page__title:not(:last-child) {
  margin-bottom: 9px;
}

.description3-page__popap {
  margin: 0 auto;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 550px) {
  .main-page__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 61.99875em) {
  .main-page__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
  }

  .main-page__heading {
    margin-left: 0;
  }
}

@media (max-width: 47.99875em) {
  .header__navigation {
    margin-left: 15px;
  }

  .header__burger {
    margin-right: 15px;
  }

  ._active-menu {
    padding: 23px 34.5px;
    min-height: 0;
    max-height: 500px;
  }

  .footer__list {
    gap: 20px;
    padding: 20px 0;
  }

  .main-page__prev img {
    width: 50%;
    height: 50%;
  }

  .main-page__next img {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 29.99875em) {
  .header__body {
    padding-top: 0px;
  }

  ._active-menu {
    padding: 23px 20px;
  }

  .description1-page__title {
    padding-left: 0px;
  }

  .description2-page__title {
    padding-left: 0;
  }
}